In [6]:
                 s = {"company" : "shubham", "course" : ["java", "data science", "python", "dsa", "my sql"]}

In [2]:
s

{'company': 'shubham', 'course': ['java, data science, python, dsa, my sql']}

In [3]:
s["course"][2]

IndexError: list index out of range

In [4]:
s['course']

['java, data science, python, dsa, my sql']

In [5]:
s['course'][2]

IndexError: list index out of range

In [7]:
s

{'company': 'shubham',
 'course': ['java', 'data science', 'python', 'dsa', 'my sql']}

In [8]:
s['course'][2]

'python'

In [2]:
del ["company"]

SyntaxError: cannot delete literal (3206772644.py, line 1)

In [3]:
del s['company']

NameError: name 's' is not defined

In [6]:
s = {"name" : "shubham", "age" : "26", "number" : 8308302285, "course" : "data science"}

In [7]:
s

{'name': 'shubham',
 'age': '26',
 'number': 8308302285,
 'course': 'data science'}

In [8]:
del s["number"]

In [9]:
s

{'name': 'shubham', 'age': '26', 'course': 'data science'}

In [10]:
s.pop("course")

'data science'

In [12]:
s = {"name" : "shubham", "age" : "26", "number" : 8308302285, "course" : "data science"}

In [13]:
s.keys()

dict_keys(['name', 'age', 'number', 'course'])

In [14]:
s.values()

dict_values(['shubham', '26', 8308302285, 'data science'])

In [15]:
s.items()

dict_items([('name', 'shubham'), ('age', '26'), ('number', 8308302285), ('course', 'data science')])

In [19]:
list (s.fromkeys("shubham"))

['s', 'h', 'u', 'b', 'a', 'm']

In [20]:
s

{'name': 'shubham',
 'age': '26',
 'number': 8308302285,
 'course': 'data science'}

In [37]:
marks = int(input("enter the marks"))
if marks >= 80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks< 80 :
    print("you will be a part of A1 batch")
elif marks >= 40 and marks< 60 :
    print("you will be a part of A2 batch")
else :
    print("you will be a part of A3 batch")

enter the marks 55

you will be a part of A2 batch

In [34]:
marks = 34

In [35]:
type(marks)

int

In [ ]:
marks = input("enter the marks")

In [41]:
score = int(input("enter score"))
if score >= 90 :
    print("he will get A+ contract")
elif score >= 80 and score< 90 :
    print("he will get B+ contract")
else:
    print("he will gwt C+ contract")

enter score 60

he will gwt C+ contract

In [43]:
type(score)

int

In [56]:
price = int(input("enter price"))
if price < 10000:
    print("prise is to much")
    if price <=5000:
        print("price is afordable")
elif price <500 :
    print("its a good")
else :
    print("to good")

enter price 5000

prise is to much
price is afordable

In [68]:
price = int(input("enter price"))
if price > 10000:
    print("prise is to much")
    if price <5000:
        print("price is afordable")
else :
    print("ok")

enter price 4000

ok

In [69]:
l = [1,2,3,4,4,5,567,8,9,]

In [70]:
l1 = [1]

In [72]:
l1+l

[1, 1, 2, 3, 4, 4, 5, 567, 8, 9]

In [73]:
l2 = l1+l

In [74]:
l2

[1, 1, 2, 3, 4, 4, 5, 567, 8, 9]

In [77]:
l2.extend("shubham")

In [78]:
l2

[1, 1, 2, 3, 4, 4, 5, 567, 8, 9, 's', 'h', 'u', 'b', 'h', 'a', 'm']

In [79]:
l2.append("shubham")

In [80]:
l2

[1, 1, 2, 3, 4, 4, 5, 567, 8, 9, 's', 'h', 'u', 'b', 'h', 'a', 'm', 'shubham']

In [81]:
l

[1, 2, 3, 4, 4, 5, 567, 8, 9]

In [97]:
l1 = []
for shubh in l:
    print(shubh+1)
    l1.append(shubh+1)
l1

2
3
4
5
5
6
568
9
10

[2, 3, 4, 5, 5, 6, 568, 9, 10]

In [98]:
l

[1, 2, 3, 4, 4, 5, 567, 8, 9]

In [101]:
l = ["shubh", "vaidya", "pwskills", "data science"]

In [108]:
l1 =[]
for s in l:
    print(s)
    l1.append(s.upper())

shubh
vaidya
pwskills
data science

In [109]:
l1

['SHUBH', 'VAIDYA', 'PWSKILLS', 'DATA SCIENCE']

In [115]:
l = [1,3,4,5,"shubh","vaidya",45,7.5,"takila"]

In [116]:
l

[1, 3, 4, 5, 'shubh', 'vaidya', 45, 7.5, 'takila']

In [126]:
l1_num =[]
l2_str =[]
l3_float =[]
for q in l:
    if type(q) == int :
        l1_num.append(q)
    elif type(q) == float :
        l3_float.append(q)
    else :
        l2_str.append(q.upper())

In [121]:
l1_num

[1, 3, 4, 5, 45, 7.5]

In [124]:
l2_str

['SHUBH', 'VAIDYA', 'TAKILA']

In [127]:
l3_float

[7.5]

In [129]:
l =[1,2,3,4,4,5,2,]

In [133]:
l1 =[]
for s in l:
    print(s+2)
    l1.append(s)
l1

3
4
5
6
6
7
4

[1, 2, 3, 4, 4, 5, 2]

In [134]:
l1

[1, 2, 3, 4, 4, 5, 2]

In [132]:
l

[1, 2, 3, 4, 4, 5, 2]